blockquote {
  color: black;
  background-color: #ddd;
  border-left: 8px solid #666;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

#__docusaurus {
  overflow-y: scroll;
  overflow-x: hidden;

  height: 100%;
}
header.postHeader:empty {
  display: none;
}

header.postHeader:empty + article h1 {
  margin-top: 0;
}

header.headerWrapper {
  background-color: #ffffff;
}

.imageAlignTop .blockImage {
  max-width: 22rem;
}

.headerTitle h2 {
  color: white;
}

.productShowcaseSection .logos img {
  width: 20rem;
}

.showcaseSection .logos img {
  width: 25rem;
}

.showcase {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2rem;
}

.showcase img {
  width: 25rem;
  max-height: 15rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.userShowcase p {
  max-width: 60%;
}

.navigationSlider .slidingNav ul {
  box-sizing: border-box;
  background: #2d85be;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  width: 100%;
}

.navigationSlider .slidingNav ul li a:hover {
  background: #2d85be;
  color: white;
}

.navigationSlider .slidingNav ul li a {
  color: white;
}

.inner img {
  width: 25%;
}

.homeContainer {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d85be;
}

.homeContainer h2 {
  color: #ffffff;
}

.homeContainer a {
  color: #ffffff;
}

.button {
  border: 1px solid #ffffff;
}

.mainContainer {
  padding: 0 0;
}

.blockImage img {
  fill: #ffffff;
}

.blockContent h2 {
  color: #0086bf;
}

.finos {
  padding-top: 5rem;
  padding-bottom: 0rem;
  text-align: center;
}

.finosBanner {
  background: var(--color-footer-background);
  margin: 0 auto;
}

.finosBanner h2 {
  color: var(--color-light-grey-50);
  font-size: 1.4rem;
  font-weight: 500;
}

.finosBanner a {
  color: var(--color-dark-grey-400);
}

article p img,
FeatureCallout article iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-footer {
  padding-top: 0;
  padding-bottom: 5rem;
  background: var(--color-footer-background);
}

.nav-footer .sitemap {
  margin: 0 auto 1em;
  display: none;
}

.copyright {
  display: none;
}

.privacy {
  text-align: center;
}

.postHeaderTitle,
.markdown h1:first-child {
  margin-top: 2.5rem !important;
}

.fixedHeaderContainer,
.navbar--fixed-top {
  background: var(--color-header-background);
  min-height: 50px;
}

.navPusher {
  padding-top: 0;
}

.navPusher,
.docMainWrapper,
.main-wrapper {
  background: var(--color-doc-background);
  color: var(--color-doc-text);
}

.onPageNav {
  background: var(--color-pagenav-background);
  height: 100vh;
  max-height: 100%;
  position: sticky;
  display: flex;
  justify-content: center;
  width: 22rem;
  flex: 0 0 26rem;
  right: 0;
  top: 5rem;
  margin: 0;
  margin-top: 0;
}

.onPageNav a {
  color: var(--color-light-grey-400);
}

.onPageNav a:focus,
.onPageNav a:hover {
  color: var(--color-light-grey-300);
}

.toc-headings {
  border-left: none;
}

.toc-headings * {
  font-size: 1.3rem;
  font-family: "Roboto Condensed" !important;
}

.onPageNav > .toc-headings {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 4.5rem;
  border-left: none;
  padding-top: 15rem;
}

.table-of-contents {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 4.5rem;
  border-left: none;
  /* padding-top: 15rem; */
}

.docsContainer img {
  border-radius: 0.5rem !important;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.main-wrapper h2,
.main-wrapper h3 {
  color: var(--color-primary-0);
}

.hash-link {
  margin-left: -2.5rem;
  padding-right: 1rem;
}

.hash-link .hash-link-icon path {
  fill: var(--color-primary-0);
}

pre code.hljs {
  white-space: pre-wrap;
  font-size: 1.4rem;
}

.hljs {
  color: var(--color-light-grey-100) !important;
  background: #121f2b;
  padding: 2.5rem;
}

.toc .toggleNav ul li a:hover,
.toc .toggleNav ul li a:focus {
  color: var(--color-dark-grey-500);
}

.toc .toggleNav ul li.navListItemActive a:hover,
.toc .toggleNav ul li.navListItemActive a:focus {
  color: #ffa7c4;
}

/* Not recommend, see https://docusaurus.io/docs/styling-layout#global-styles */
[class*="docMainContainer"] {
  max-width: 100% !important;
}

@media only screen {
  .docsNavContainer .toc .navBreadcrumb {
    background-color: var(--color-dark-grey-100);
    border-bottom: 0.1rem solid var(--color-dark-grey-50);
  }

  .navbar--fixed-top {
    top: 0;
  }

  .navigationSlider {
    height: 3.4rem;
    margin-left: auto;
    position: relative;
  }

  .tableOfContents,
  #__docusaurus .col--3 {
    background: var(--color-pagenav-background);
    padding: 0;
    max-width: 27rem;
    margin-right: 2%;
    min-height: 72vh;
    margin-top: -1rem;
    margin-bottom: -2rem;
  }

  .theme-doc-toc-desktop {
    text-align: left;
    margin-right: 1.5rem;
    height: 100%;
    padding-top: 13rem;
    margin: 0;
    width: 100%;
  }

  .toc .toggleNav .navGroup .navGroupCategoryTitle {
    text-transform: uppercase;
    max-width: 25rem;
    cursor: pointer;
    user-select: none;
    color: var(--color-toc-content);
    display: inline-flex;
  }

  .navGroupSubcategoryTitle,
  .toc .toggleNav ul li a {
    font-size: 1.5rem !important;
    font-family: "Roboto Condensed" !important;
    user-select: none;
  }

  .navToggle .line1,
  .navToggle .line2,
  .navToggle .line3 {
    background-color: var(--color-light-grey-200);
  }

  .docsSliderActive.docsNavContainer,
  .docsSliderActive .toc section .navGroups {
    background: var(--color-dark-grey-100);
  }

  .navGroupSubcategoryTitle {
    cursor: default;
    color: #717171 !important;
  }

  .docsSliderActive .toc .navBreadcrumb,
  .tocActive .navBreadcrumb {
    border-bottom: 0.1rem solid var(--color-dark-grey-150);
  }

  .docsNavContainer + .container.mainContainer.docsContainer {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .onPageNav {
    display: none !important;
  }

  .navigationSlider nav.slidingNav {
    background: none;
    height: auto;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
  }

  .navigationSlider .slidingNav ul {
    background: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    width: auto;
  }

  .navigationSlider .slidingNav ul li a {
    border: 0;
    color: var(--color-light-grey-300);
    display: flex;
    font-size: 16px;
    font-size: 1em;
    font-weight: 300;
    height: 32px;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    padding: 6px 10px;
  }

  .subNavGroup .navItem {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
  }

  .subNavGroup .navItem::before {
    content: ">";
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: Source Code Pro;
    color: #717171;
    margin-right: 0.5rem;
  }

  .siteNavGroupActive a,
  .siteNavItemActive a {
    color: var(--color-primary-0) !important;
    background-color: transparent !important;
  }

  .navigationSlider .slidingNav ul li a:hover,
  .navigationSlider .slidingNav ul li a:focus,
  .navigationSlider .slidingNav ul li a:active {
    color: var(--color-light-grey-0);
    background-color: transparent;
  }

  .docsNavContainer {
    top: 5rem;
  }

  .tocToggler {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .container {
    padding: 0 !important;
  }

  .toc .toggleNav .navGroup .navGroupCategoryTitle {
    max-width: initial;
    font-size: 1.4rem !important;
    margin-bottom: 0.5rem;
  }

  .toc .toggleNav .navGroup {
    margin-bottom: 1rem;
  }

  .navbar-sidebar {
    width: 100%;
  }

  .theme-doc-sidebar-menu {
    margin-left: 3%;
  }

  .theme-doc-sidebar-menu .menu__link {
    max-width: initial;
    font-size: 1.4rem !important;
    padding: 0;
    font-weight: 500;
    line-height: 1.2em;
  }

  .menu__link,
  .menu__list {
    padding-left: 0 !important;
  }

  /* .theme-doc-sidebar-menu .menu__link {
    max-width: initial;
    font-size: 1.4rem !important;
    margin-bottom: 0.5rem;
  } */

  /*svp toc is for this*/
}

.theme-doc-sidebar-container {
  background: var(--color-sidebar-background);
  border-right: none !important;
  /* svp */
}

.menu__list-item-collapsible {
  text-transform: uppercase;
  max-width: 25rem;
  cursor: pointer;
  user-select: none;
  color: var(--color-light-grey-400);
  font-size: 1.5rem !important;
  display: inline-flex;
}
.theme-doc-sidebar-item-category {
  margin-bottom: 16px;
  padding-right: 2rem;
}

.sidebar_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebar-Desktop-styles-module {
  float: right;
}

.theme-doc-markdown {
  margin: 0 10%;
  padding: 0 2%;
}

.pagination-nav {
  padding-left: 10%;
  padding-bottom: 8rem;
}

@media only screen and (min-width: 1024px) {
  .pagination-nav {
    display: inline-block;
    width: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .theme-doc-markdown {
    margin-left: 8rem;
    margin-right: 8rem;
    padding-top: 5rem;
  }

  .theme-doc-sidebar-container {
    background: var(--color-sidebar-background);
    border-right: none !important;
    display: flex;
    position: fixed;
    align-items: flex-end;
    /* width: 22% !important; */
    width: var(--doc-sidebar-width);
    height: 100%;
    z-index: 2;
    overflow-y: overlay;
    overflow-x: hidden;
  }

  .theme-doc-sidebar-menu {
    padding: 0px;
    text-align: right;
    height: 100%;
    padding-top: 13rem;
    float: right;
    width: 25rem;
  }

  .theme-doc-sidebar-menu .menu__link {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    max-width: 22rem;
  }

  .docsNavContainer {
    display: flex;
    position: fixed;
    margin-left: -9999px !important;
    padding-left: 9999px;
    height: 100%;
    background: var(--color-sidebar-background);
    z-index: 2;
    overflow-y: overlay;
    overflow-x: hidden;

    background: purple;
  }

  /* svp */

  .docsNavContainer .toc {
    text-align: right;
    margin-right: 1.5rem;
    height: 100%;
    padding-top: 13rem;
    width: 25rem;
  }

  .toc .toggleNav .navGroup .navListItem {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    max-width: 22rem;
  }

  .subNavGroup ul li::before {
    display: none;
  }

  .subNavGroup .navItem::before {
    display: none;
  }

  .subNavGroup ul li::after {
    content: "<";
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: Source Code Pro;
    color: #717171;
    margin-left: 0.5rem;
  }

  .docsNavContainer .toc * {
    font-size: 1.5rem !important;
    font-family: "Roboto Condensed" !important;
    user-select: none;
  }

  .toc .navGroupCategoryTitle {
    text-transform: uppercase;
    max-width: 25rem;
    cursor: default;
    user-select: none;
    color: var(--color-toc-content);
    display: inline-flex;
    font-family: "Roboto Condensed" !important;
  }

  .toc .navGroups {
    padding: 0 1.5rem 10rem 1.5rem !important;
  }

  .toc .toggleNav ul {
    padding: 0 0 0 1.5rem;
  }

  .separateOnPageNav .wrapper,
  .separateOnPageNav .headerWrapper.wrapper {
    max-width: 1400px;
  }

  .docsNavContainer + .container.mainContainer.docsContainer {
    margin-left: 38rem;
  }
}

@media only screen and (min-width: 1200px) {
  .container.mainContainer.docsContainer {
    margin: 10rem 5rem;
    /* margin-left: 37%; */
  }

  .container.mainContainer.docsContainer {
    margin-left: 0rem;
  }

  .docsNavContainer + .container.mainContainer.docsContainer {
    margin-left: 37rem;
    margin-right: 10rem;
  }

  .onPageNav {
    display: flex !important;
  }
}

.onPageNav ul ul li {
  padding-bottom: 1rem;
}

.onPageNav ul ul {
  padding-top: 1.5rem;
}

.button {
  border-radius: 0.3rem;
  color: var(--color-light-grey-100);
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.button:hover {
  background: var(--color-primary-0);
  border-color: var(--color-primary-0);
  color: var(--color-dark-grey-100);
}

.onPageNav::-webkit-scrollbar {
  width: 0.8rem;
}

.onPageNav::-webkit-scrollbar-thumb {
  background: var(--color-dark-shade-100) !important;
  border-radius: 0.4rem;
}

.onPageNav::-webkit-scrollbar-thumb:window-inactive {
  background: var(--color-dark-shade-100) !important;
}

.onPageNav::-webkit-scrollbar-track {
  background: transparent !important;
}

.headerTitleWithLogo {
  display: none !important;
}

/* App scrollbar - Chrome */
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background: var(--color-dark-shade-100) !important;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--color-dark-shade-100) !important;
}

::-webkit-scrollbar-track {
  background: var(--color-sidebar-background) !important;
}

html[data-theme="light"] ::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:window-inactive {
  background: var(--color-light-shade-100) !important;
}

html[data-theme="light"] ::-webkit-scrollbar-track {
  background: var(--color-sidebar-background) !important;
}

html[data-theme="light"] .onPageNav::-webkit-scrollbar-thumb {
  background: var(--color-light-shade-100) !important;
}

html[data-theme="light"] .onPageNav::-webkit-scrollbar-thumb:window-inactive {
  background: var(--color-light-shade-100) !important;
}

/* App scrollbar - Firefox */
body {
  scrollbar-color: var(--color-dark-shade-100) transparent !important;
}

.collapsible .arrow {
  display: inline-flex;
  width: 2.4rem;
  max-width: 2.4rem;
  height: 2.4rem;
  max-height: 2.4rem;
  margin-top: -0.3rem;
  margin-right: -0.3rem;
}

/* NOTE: These classes target Infima class names which are usually stable
but may be changed https://docusaurus.io/docs/styling-layout */

.table-of-contents__link {
  font-size: 1.3rem;
  color: var(--color-toc-content);
}

.menu__link {
  line-height: 1.75;
  font-family: "Roboto Condensed" !important;
  font-size: 1.5rem !important;
}

.menu__link--sublist-caret:after {
  margin-left: 5px;
}

.menu__link:not(.menu__link--active):not(.menu__link--sublist) {
  color: #717171;
}
.menu__list-item-collapsible .menu__link--active {
  color: var(--ifm-menu-color);
}

.table-of-contents__link--active {
  font-weight: 600;
  color: var(--ifm-color-primary);
}

[data-theme="light"] .table-of-contents__link--active {
  color: var(--ifm-color-primary-dark);
}

.pagination-nav__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}
.pagination-nav__link--next,
.pagination-nav__link--prev {
  width: fit-content;
  border-radius: 0.3rem;
  border: 1px solid var(--color-pagenav-border);
  justify-content: flex-end;
  border-radius: 0.3rem;
  color: var(--color-pagenav-border);
  text-decoration: none !important;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.pagination-nav__link--next:hover,
.pagination-nav__link--prev:hover {
  background: var(--color-primary-0);
  border-color: var(--color-primary-0);
  color: var(--color-dark-grey-100);
}

.pagination-nav__link--next {
  float: right;
}
.pagination-nav__link--prev {
  float: left;
}
