.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/node_modules
website/i18n/*
website/package-lock.json

# Ignore checked out models
docs/models

# Ignore auto generated contribute.md and roadmap.md file
docs/contribute.md
docs/roadmap.md
/.idea/
