/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

header.postHeader:empty {
    display: none;
  }
  
header.postHeader:empty + article h1 {
  margin-top: 0;
}

header.headerWrapper {
  background-color: #ffffff;
}

.imageAlignTop .blockImage {
  max-width: 220px;
}

.headerTitle h2 {
  color: #2d85be;
}

.productShowcaseSection .logos img {
  width: 200px;
}

.showcaseSection .logos img {
  width: 250px;
}

.showcase {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
}

.showcase img {
  width: 250px;
  max-height: 150px;
  padding-left: 15px;
  padding-right: 15px;
}

.finos {
  padding-top: 30px; /* CHANGED 14 MAY 2019 */
  padding-bottom: 30px;
  text-align: center;
}

.userShowcase p {
  max-width: 60%;
}

/* CSS added 14 May 2019 */

.navigationSlider .slidingNav ul {
    /* DO NOT CHANGE - THIS IS THE NAVIGATION BACKGROUND - SHOULD STAY FINOS BLUE */
  box-sizing: border-box;
  background: #2D85BE;
  color: #2D85BE;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  width: 100%;
}

.navigationSlider .slidingNav ul li a:hover {
  background: #2D85BE;  /* DO NOT CHANGE - THIS IS THE NAVIGATION BACKGROUND - SHOULD STAY FINOS BLUE */
  /* background: #ffffff;  /* CHANGE THIS BACK WHEN SITE READY ^^ */
  color: #2D85BE;

}

.navigationSlider .slidingNav ul li a {
  /* background: #0033A0;  /* DO NOT CHANGE - THIS IS THE NAVIGATION BACKGROUND - SHOULD STAY FINOS BLUE */
  color: #2D85BE;  /* DELETE THIS - WILL DEFAULT BACK TO WHITE
   WHEN SITE READY ^^ */

}


body {
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

.inner img{
  width: 25%;
}

.homeContainer {
  /* TODO - create background image */
  /*  background-image: url("../img/fdc3-background.png"); CHANGE THIS TO BACKGROUND LOGO PNG - THIS IS A SEMI-TRANSPARENT DOUBLE RENDERING OF THE LOGO ICON */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2D85BE; /* CHANGE THIS TO PRIMARY PROJECT COLOR */
}

.homeContainer h2{
  color: #ffffff;
}

.homeContainer a{
  color: #ffffff;
}

.button {
  border: 1px solid #ffffff;
}

.mainContainer {
  padding: 0 0;
}

.blockImage img{
  fill: #ffffff;
}

.blockContent h2{
  color:  #0086bf;  /* DO NOT CHANGE - THIS IS THE TITLE UNDER THE ICONS IN THE 3RD BLOCK - SHOULD STAY FINOS BLUE */
}


.featureShowcaseSection .logos img {
  width: 200px;
  
}

.featureShowcaseSection h2{
  color: #0033A0; /* CHANGE THIS TO PRIMARY PROJECT COLOR */
  font-size: 30px;
}

.featureShowcaseSection {
  /* background-color: #F7F7F7; /* CHANGE THIS TO PRIMARY PROJECT COLOR */
  background-color: #ffffff; /* CHANGE THIS TO PRIMARY PROJECT COLOR */
  padding-top: 40px;
  padding-bottom: 10px;
}

.surveyBanner .logos img {
  width: 200px;
  
}

.surveyBanner h2{
  color: #0033A0; /* CHANGE THIS TO PRIMARY PROJECT COLOR */
  font-size: 30px;
}

.surveyBanner {
  /* background-color: #F7F7F7; /* CHANGE THIS TO PRIMARY PROJECT COLOR */
  background-color: #ffffff; /* DELETE THIS WHEN SITE READY TO GO BACK TO GRAY BACKGROUND */
  padding-top: 10px;
  /* padding-bottom: 40px; */
  
}



.CTA-image {
  width: 200px;
  flex: none;
}

.productShowcaseSection h2{
  color: #0033A0; /* CHANGE THIS TO PRIMARY PROJECT COLOR */
}


.finosBanner {
  background-color: #0086bf; /* DO NOT CHANGE - THIS IS THE FINOS BANNER BACKGROUND - SHOULD STAY FINOS BLUE */
  margin: 0 auto;
  padding: 0 0;
}

.finosBanner h2{
  color: #ffffff;
  font-size: 16px;
}

article p img,FeatureCallout
article iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.nav-footer {
  /* background-color: #0086bf; */
  background-color: #ffffff;
}

.nav-footer .sitemap{
  margin: 0 auto 1em;
}