.home-page {
  height: 100%;
  width: 100%;
  background: var(--color-doc-background);
  color: var(--color-doc-text);
}

.home-page * {
  font-family: "Roboto Condensed";
}

.home-page__highlight {
  color: var(--color-primary-0);
}

.home-page__header {
  background: var(--color-home-page__header-background);
  height: 5rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  z-index: 10;
}

.home-page__header__container {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.home-page__header__title {
  opacity: 0;
  align-items: center;
  transition: opacity 0.6s ease;
}

.home-page__header__title--visible {
  opacity: 1 !important;
}

.home-page__header--visible {
  background: var(--color-dark-grey-50) !important;
}

.home-page__header__title__home-btn {
  display: flex;
}

.home-page__header__title__logo {
  height: 3.4rem;
  width: 8.3rem;
}

.home-page__header__title__logo path {
  fill: var(--color-light-grey-300);
}

.home-page__header__nav {
  display: flex;
}

.home-page__header__nav__item__link-btn {
  color: var(--color-light-grey-300);
  font-family: "Roboto Condensed";
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 0 1rem;
  text-decoration: none;
}

.home-page__header__nav__item__link-btn:hover {
  color: var(--color-light-grey-0);
}

.home-page__content {
  height: 100%;
  padding-top: 5rem;
}

.home-page__content__container {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  position: relative;
}

.home-page__content__brand {
  position: relative;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page__content__brand .home-page__content__container {
  padding: 0 10rem 10rem 10rem;
}

.home-page__down-arrow__container {
  width: calc(100% - 20rem);
  position: absolute;
  bottom: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page__down-arrow {
  height: 5vh;
  width: 5vw;
  fill: var(--color-dark-grey-200);
  animation: arrow-bounce 0.5s alternate ease infinite;
}

@keyframes arrow-bounce {
  from {
    transform: translateY(0.3rem);
  }

  to {
    transform: translateY(-0.3rem);
  }
}

.home-page__logo {
  height: 45%;
}

.home-page__logo .main-logo:hover {
  animation: arrow-bounce 0.5s alternate ease infinite;
}

@keyframes arrow-bounce {
  from {
    transform: translateY(0.3rem);
  }

  to {
    transform: translateY(-0.3rem);
  }
}

.home-page__logo .main-logo.main-logo-st0 {
  /* transition: 0.7s fill ease; */
  fill: #404040;
}

.home-page__logo .main-logo.main-logo-st1 {
  fill: #717171;
}

.home-page__logo .main-logo.main-logo-st2 {
  /* transition: 2s fill ease; */
  fill: #3e3a3b;
}

.home-page__logo .main-logo.main-logo-st3 {
  /* transition: 0.7s fill ease; */
  fill: #3e3737;
}

.home-page__logo .main-logo.main-logo-st4 {
  /* transition: 0.7s fill ease; */
  fill: #3b3330;
}

.home-page__logo .main-logo.main-logo-st5 {
  /* transition: 0.7s fill ease; */
  fill: #3c3731;
}

.home-page__content__whatis {
  height: 90rem;
  width: 100%;
  background: var(--color-dark-grey-150);
  clip-path: polygon(0 9rem, 100% 0, 100% 90rem, 0 80rem);
}

.home-page__content__whatis .home-page__content__container {
  max-width: 1200px;
}

.home-page__content__whatis__title {
  min-width: 42rem;
  text-align: right;
  margin-right: 5rem;
}

.home-page__content__whatis__title__pre {
  font-size: 9rem;
  font-family: "Roboto Condensed";
  line-height: 1;
}

.home-page__content__whatis__title__logo {
  width: 39rem;
}

.home-page__content__whatis__title__logo path {
  fill: var(--color-primary-0);
}

.home-page__content__whatis__content {
  padding: 10rem 0 10rem 5rem;
  font-size: 1.6rem;
  line-height: 1.75;
  border-left: 0.1rem solid var(--color-dark-grey-50);
}

.home-page__content__whatis__reasons {
  margin-top: 2rem;
}

.home-page__extra__spacing {
  padding-top:100px;
}

.home-page__content__whatis__text{
  font-size: 2rem;
}
.home-page__content__whatis__text__question {
  color: var(--color-primary-0);
}

.home-page__content__whatis__text__conclusion {
  color: var(--color-primary-0);
}

.home-page__content__tools {
  height: 75rem;
}

.home-page__content__tools .home-page__content__container {
  max-width: 1200px;
}

.home-page__content__tools__text {
  margin-right: 5rem;
}

.home-page__content__summary__text {
  width: 50%;
  margin: 25px;
  height: 100vh;
}

.home-page__content__tools-panel {
  position: relative;
  min-width: 42rem;
  pointer-events: none;
  user-select: none;
  border-left: 0.1rem solid var(--color-dark-grey-150);
  padding: 20rem 0 20rem 5rem;
}

.home-page__content__tools-panel__text-cursor {
  position: absolute;
  width: 0.5rem;
  height: 7rem;
  background: var(--color-light-grey-200);
  border-radius: 0.5rem;
  top: 19rem;
  left: 27.5rem;
  animation: text-cursor-flicker 1.2s ease infinite;
}

@keyframes text-cursor-flicker {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.home-page__content__tool {
  font-size: 6.1rem;
  font-family: "Source Code Pro";
  line-height: 0.9;
}

.home-page__content__tool--cube {
  margin-left: 0.3rem;
  line-height: 1.1;
}

.home-page__content__tool span {
  font: inherit;
  display: inline-flex;
}

.code__letter {
  color: var(--color-light-grey-200);
  transition: color 0.5s ease;
}

.code__letter--white {
  color: var(--color-light-grey-200);
}

.code__letter--blue {
  color: #3075d5;
}

.code__letter--green {
  color: #99b765;
}

.code__letter--yellow {
  color: #d7ba7d;
}

.code__letter--red {
  color: #b25353;
}

.code__letter--purple {
  color: #96639a;
}

.code__letter--orange {
  color: #ce9178;
}

.home-page__content__ecosystem {
  height: 140rem;
  background: var(--color-dark-grey-150);
  clip-path: polygon(0 9rem, 100% 0, 100% 140rem, 0 100%);
}

.home-page__content__ecosystem__diagram {
  width: 100%;
}

.home-page__content__ecosystem .home-page__content__container {
  max-width: 1200px;
}

.home-page__content__timeline {
  height: 105rem;
}

.completed-item {
  font-size: 1.1rem;
  text-transform: lowercase;
  margin-left: 0.5rem;
  background: var(--color-dark-grey-300);
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  color: var(--color-light-grey-400);
  font-weight: 600;
  cursor: default;
  user-select: none;
}

.home-page__content__timeline__diagram {
  margin-top: 3rem;
}

.home-page__content__timeline .home-page__content__container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 7rem;
}

.home-page__footer {
  height: 16rem;
  background: var(--color-footer-background);
}

.home-page__footer .finosBanner {
  padding-bottom: 5rem;
}

@media only screen and (max-width: 1199px) {
  .home-page__content__whatis .home-page__content__container {
    flex-direction: column;
    justify-content: center;
  }

  .home-page__content__whatis__title {
    min-width: initial;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 0;
  }

  .home-page__content__whatis__content {
    padding: 5rem 0;
    border-left: none;
  }

  .home-page__content__whatis__title__pre {
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    margin-right: 2rem;
  }

  .home-page__content__whatis__title__pre {
    font-size: 9rem;
  }

  .home-page__content__whatis__title__logo {
    width: 31rem;
  }

  .home-page__content__tools .home-page__content__container {
    flex-direction: column;
    justify-content: center;
  }

  .home-page__content__tools {
    height: 103rem;
  }

  .home-page__content__tools__text {
    margin-right: 0;
    order: 1;
    margin-bottom: 5rem;
  }

  .home-page__content__tools-panel {
    order: 0;
    border-left: none;
    padding: 7rem 0;
  }

  .home-page__content__tools-panel__text-cursor {
    top: 6rem;
    left: 23rem;
  }
}

@media only screen and (max-width: 850px) {
  .home-page__down-arrow__container {
    /* NOTE: on iOS, in landscape mode, the browser header is shown leading to a shorter height about 5-10vh
     * as such, we want to take bump the bottom distance up a little bit
     */
    bottom: 20vh;
  }

  .home-page__content__whatis {
    height: 120rem;
    width: 100%;
    background: var(--color-dark-grey-150);
    clip-path: polygon(0 5rem, 100% 0, 100% 120rem, 0 115rem);
  }

  .home-page__content__whatis__title {
    flex-direction: column;
    align-items: center;
  }

  .home-page__content__whatis__title__pre {
    justify-content: center;
  }

  .home-page__content__tools {
    height: 140rem;
  }

  .home-page__content__tools-panel__text-cursor {
    left: 22.5rem;
  }

  .home-page__content__ecosystem {
    height: 80rem;
    clip-path: polygon(0 5rem, 100% 0, 100% 80rem, 0 100%);
  }

  .home-page__content__timeline {
    height: 130rem;
  }

  .home-page__content__timeline__diagram {
    width: 95%;
  }
}

@media only screen and (max-width: 650px) {
  .home-page__down-arrow__container {
    width: calc(100% - 20rem);
    position: absolute;
    bottom: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-page__down-arrow {
    height: 5rem;
    width: 5rem;
    fill: var(--color-dark-grey-200);
    animation: arrow-bounce 0.5s alternate ease infinite;
  }

  .home-page__content__container {
    padding: 0 5rem;
  }

  .home-page__content__tool {
    font-size: 5rem;
    line-height: 0.87;
    padding-left: 5rem;
  }

  .home-page__content__tools-panel__text-cursor {
    height: 5.5rem;
    top: 6.5rem;
    left: 23.5rem;
    width: 0.4rem;
  }

  .home-page__content__ecosystem {
    height: 70rem;
    clip-path: polygon(0 7rem, 100% 0, 100% 70rem, 0 100%);
  }

  .home-page__content__timeline {
    height: 130rem;
  }
}