:root {
  --color-white: #fff;

  --color-light-grey-0: #fafafa;
  --color-light-grey-50: #f3f3f3;
  --color-light-grey-100: #efefef;
  --color-light-grey-150: #e6e6e6;
  --color-light-grey-180: #d4d4d4;
  --color-light-grey-200: #ddd;
  --color-light-grey-250: #d7d5d5;
  --color-light-grey-300: #cecece;
  --color-light-grey-400: #bbb;

  --color-black: #000;

  --color-dark-grey-30: #111111;
  --color-dark-grey-50: #1e1e1e;
  --color-dark-grey-100: #2d2d2d;
  --color-dark-grey-120: #292929;
  --color-dark-grey-150: #252525;
  --color-dark-grey-200: #353535;
  --color-dark-grey-250: #3e3e3e;
  --color-dark-grey-280: #404040;
  --color-dark-grey-300: #595959;
  --color-dark-grey-400: #737373;
  --color-dark-grey-500: #9a9a9a;

  --color-navy-300: #45456b;
  --color-navy-500: #34345f;

  --color-purple-0: #d3bee0;
  --color-purple-50: #af90c3;
  --color-purple-100: #8a58ab;
  --color-purple-200: #804090;
  --color-purple-400: #5d3b73;

  --color-magenta-30: #c585c0;
  --color-magenta-50: #d06c99;
  --color-magenta-100: #bb619b;

  --color-pink-0: #ffc0cb;
  --color-pink-200: #f05577;
  --color-pink-300: #d14664;

  --color-red-50: #ff958c;
  --color-red-100: #f5584b;
  --color-red-150: #f95252;
  --color-red-180: #ea4646;
  --color-red-200: #bf2f22;
  --color-red-300: #be1100;
  --color-red-400: #800404;
  --color-red-500: #5a1d1d;

  --color-skin-100: #f1b47f;
  --color-skin-200: #ce9178;

  --color-orange-100: #e97f49;
  --color-orange-150: #ca663a;
  --color-orange-400: #8a4628;
  --color-orange-500: #6c3f2b;

  --color-yellow-0: #ffffe0;
  --color-yellow-50: #dcdcaa;
  --color-yellow-80: #d7ba7d;
  --color-yellow-200: #fbbc05;
  --color-yellow-300: #e2a700;

  --color-green-50: #a5ea81;
  --color-green-80: #65d081;
  --color-green-100: #34a853;
  --color-green-150: #6a9955;

  --color-green-neon-100: #2cca72;

  --color-teal-0: #7bffc8;
  --color-teal-100: #39cca2;
  --color-teal-400: #4ec9b0;
  --color-teal-500: #16b8bf;

  --color-light-blue-0: #9cddfe;
  --color-light-blue-50: #6391d0;
  --color-light-blue-200: #477cc5;
  --color-light-blue-400: #2c4f80;
  --color-light-blue-450: #264f77;

  --color-blue-50: #1c89d2;
  --color-blue-100: #007acc;
  --color-blue-200: #08629e;
  --color-blue-300: #014a7b;

  --color-light-shade-50: #eaeaea;
  --color-light-shade-100: #cfcfcf;

  /* --color-dark-shade-100: #0000002e; */
  --color-dark-shade-100: #1e1e1e;
  --color-dark-shade-300: #00000061;

  --color-dark-blue-shade-100: #7f7ab124;

  --color-eminence: #68217a;
  --color-mauve: #7685b9;
  --color-purple-TEMP: #bfbcff;
  --color-orange-TEMP: #ffeed3;
  --color-navy-TEMP: #3f51b5;
  --color-yellow-TEMP: #f4b400;
  --color-yellow-TEMP-2: #ab843b;
  --color-yellow-TEMP-3: #ffd946;
  --color-pink-TEMP: #ffa7c4;
  --color-dark-pink-TEMP: #e97098;
  --color-teal-TEMP-2: #43849c;

  --color-primary-0: var(--color-pink-TEMP);
  --color-primary-50: var(--color-magenta-50);
  --color-secondary-50: var(--color-yellow-TEMP-3);
  --color-footer-background: var(--color-dark-grey-50);
  --color-header-background: var(--color-dark-grey-50);
  --color-home-page__header-background: var(--color-dark-grey-120);
  --color-doc-background: var(--color-dark-grey-100);
  --color-sidebar-background: var(--color-dark-grey-150);
  --color-pagenav-background: var(--color-dark-grey-180);
  --color-pagenav-border: var(--color-light-grey-100);
  --color-doc-text: var(--color-light-grey-100);
  --color-toc-content: var(--color-light-grey-400);
  --color-code: var(--color-dark-grey-150);
  --color-code-highlight: #4d3b3b;
  --color-code-function-name: #a1a1ff;

  /*--- HOME PAGE --- */
  --color-home-page__second-background: var(--color-dark-grey-150);
  --color-home-page__third-background: var(--color-dark-grey-150);
  --color-home-page__nav__text: var(--color-light-grey-300);
  --color-home-page__nav__text--hover: var(--color-light-grey-0);
}

.container {
  --ifm-container-width-xl: 100%;
  --ifm-container-width: 100%;
  /* --ifm-spacing-horizontal: 15%; */
}

.container {
  margin: 0 auto;
  max-width: var(--ifm-container-width);
  padding: 0 var(--ifm-spacing-horizontal);
  padding-left: 20%;
  width: 100%;
}

[data-theme="light"] {
  --color-primary-0: var(--ifm-color-primary-dark);
  --color-primary-50: var(--color-magenta-50);
  --color-secondary-50: var(--color-yellow-TEMP-3);
  --color-footer-background: var(--color-light-grey-250);
  --color-header-background: var(--color-light-grey-50);
  --color-home-page__header-background: var(--color-light-grey-120);
  --color-doc-background: var(--color-light-grey-100);
  --color-sidebar-background: var(--color-light-grey-150);
  --color-pagenav-background: var(--color-light-grey-150);
  --color-doc-text: var(--color-dark-grey-100);
  --color-toc-content: var(--color-dark-grey-300);
  --color-pagenav-border: var(--color-dark-grey-300);
  --color-code: var(--color-light-grey-50);
  --color-code-highlight: #f6d3d3;
  --color-code-function-name: #6e6ed2;

  /*--- HOME PAGE --- */
  --color-home-page__second-background: var(--color-light-grey-150);
  --color-home-page__third-background: var(--color-light-grey-300);
  --color-home-page__nav__text: var(--color-dark-grey-50);
  --color-home-page__nav__text--hover: var(--color-dark-grey-300);
}

html[data-theme="light"] .navbar .navbar__logo {
  content: url("../img/logos/2023_Legend_Dark.png");
}

html[data-theme="light"] #finosicon {
  content: url("../img/finos.png");
}
