.wip-page {
  height: 100%;
  width: 100%;
  background: var(--color-doc-background);
  color: var(--color-doc-text);
}

.wip-page * {
  font-family: "Merriweather";
}

.wip-page__header {
  background: var(--color-dark-grey-50);
  height: 5rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  z-index: 10;
}

.wip-page__header__container {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wip-page__header__title {
  align-items: center;
}

.wip-page__header__title__home-btn {
  display: flex;
}

.wip-page__header__title__logo {
  height: 3.6rem;
  width: 10.8rem;
}

.wip-page__header__title__logo path {
  fill: var(--color-light-grey-150);
}

.wip-page__header__nav {
  display: flex;
}

.wip-page__header__nav__item__link-btn {
  color: var(--color-light-grey-300);
  font-family: "Merriweather";
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 0 1rem;
}

.wip-page__header__nav__item__link-btn:hover {
  color: var(--color-light-grey-0);
}

.wip-page__content {
  height: 100%;
  padding-top: 5rem;
  position: relative;
  height: calc(100vh - 12.1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait;
}

.wip-page__content__container {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wip-page__content__logo {
  width: 50rem;
  height: 23rem;
}

.wip-page__content__logo path {
  fill: var(--color-light-grey-400);
}

.wip-page__content__logo__A {
  transform: rotate(20deg) translate(0, -1.2rem);
}

.wip-page__content__text {
  font-size: 2rem;
  color: var(--color-light-grey-200);
  user-select: none;
}

.wip-page__content__text--stress {
  color: var(--color-primary-0);
}

.wip-page__footer {
  height: 12rem;
  background: var(--color-footer-background);
}

.wip-page__footer .finos {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
