name: Check Showcases
on:
  schedule:
    - cron: "0 0,12 * * *" # run twice daily
  push:
    branches:
      - master
    paths:
      - "showcases/**"
  pull_request:
    branches:
      - "**"
    paths:
      - "showcases/**"
  workflow_dispatch: {}

jobs:
  check-index-showcases:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3.5.2
      - name: Setup Node
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 16
      - name: Prepare static artifacts
        run: |
          npm install
          npm run check:showcases-index

  test-showcases:
    # except for pull request, make sure to run the pipeline only for default branch
    if: github.event_name == 'pull_request' || (github.ref == 'refs/heads/master' && github.repository == 'finos/legend')
    name: Run Compilation Check for Showcases
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "maven"
      - name: Get Changed Files
        id: changed_files
        working-directory: ./showcases
        run: echo "CHANGED_FILES=`git diff --name-only | paste -sd ','`" >> "$GITHUB_OUTPUT"
      - name: Run test
        working-directory: ./showcases
        run: |
          mvn versions:use-latest-versions
          mvn -B -Dmaven.surefire.thread.count=$THREAD_COUNT -Dshowcase.locations=$SHOWCASE_LOCATIONS test
        env:
          THREAD_COUNT: 3
          SHOWCASE_LOCATIONS: ${{ steps.changed_files.outputs.CHANGED_FILES }}
