name: Docusaurus-website-build

on:
  push:
    branches:
      - master
      - 'release/**'
  pull_request:
    branches:
      - '**'

env:
  # Used by docusaurus `publish-site` step
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  REPO_NAME: ${{ github.event.repository.name }}

jobs:
  website-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v1
      - name: Setup Node
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 16
      - name: Prepare static artifacts
        run:
          mkdir website/static/omnibus
          cp -r installers/omnibus/scripts/* website/static/omnibus
      - name: Build Website
        working-directory: ./website
        run: |
          yarn install
          yarn build
      - name: Search for Broken Links
        run: |
          node ./scripts/check-legend-application-documentation-broken-links.js
      - name: Publish Website
        if: github.repository == 'finos/legend' # skip running action in forks
        run: |
          # Extract GitHub org/user
          REPO="${{ github.repository }}"
          GIT_USERNAME=${REPO%/*}
          # Set git user to finos, if it's a push to a finos repo
          if [ "$GIT_USERNAME" == "finos" ] && [ "${{github.event_name }}" == "push" ]
          then GIT_USERNAME="finos"
          elif [ "$GIT_USERNAME" == "finos" ] && [ "${{github.event_name }}" == "pull_request" ]
          then echo "Skipping publishing, as it's coming from a PR"; exit 0
          fi
          # Configure git client
          echo "Git repo - $REPO"
          echo "Git user - $GIT_USERNAME"
          git config --global user.email "$GIT_USERNAME@users.noreply.github.com"
          git config --global user.name "$GIT_USERNAME"
          echo "machine github.com login $GIT_USERNAME password $GITHUB_TOKEN" > ~/.netrc
          GIT_USER=$GIT_USERNAME npm run deploy --prefix website
