name: Publish Omnibus Snapshot to Docker

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */2 * * *' # runs every 2 hours

jobs:
  publish-snapshot-docker:
    if: github.ref == 'refs/heads/master' && github.repository == 'finos/legend'
    name: Publish Omnibus Snapshot Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.5.2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: finos
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Publish Omnibus to Docker
        working-directory: ./installers/omnibus
        run: |
          chmod +x ./snapshot.sh
          ./snapshot.sh
