name: Showcase Tests
on:
  schedule:
    - cron: "0 0,12 * * *" # run twice daily
  push:
    branches:
      - master
    paths:
      - "showcases/"
  pull_request:
    branches:
      - "**"
    paths:
      - "showcases/"
  workflow_dispatch: {}
jobs:
  test:
    # except for pull request, make sure to run the pipeline only for default branch
    if: github.event_name == 'pull_request' || (github.ref == 'refs/heads/master' && github.repository == 'finos/legend')
    name: Run Compilation Check for Showcases
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "temurin"
          cache: "maven"
      - name: Run test
        working-directory: ./showcases
        run: |
          mvn versions:use-latest-versions -f
          mvn -B -Dmaven.surefire.thread.count=$THREAD_COUNT -Dshowcase.locations=$SHOWCASE_LOCATIONS test
        env:
          THREAD_COUNT: 3
          SHOWCASE_LOCATIONS: data
